.logo {
	
	
}

.tilbake {
	float: right;
	margin-right: 150px;
}

.ladepunkt {
	text-align: center;
	
}

.innhold {
	padding-bottom: 50px;
	
}

.kart {
	float: left;
	margin-right: 100px;
		
}

.info {
	
	
}

h1 {
	
	
}

h2 {
	
	
}

h3 {
	
	
}

ul {
	
	
}

li {
	
	
}

a {
	
	
}

.ladetid:hover .dropinnhold {
	display: block;
}

.dropinnhold {
  display: none;
  position: absolute;
}
