body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    background-color: #F6E7F6;
    padding-top: 50px;
    margin: 0;
}

h1 {
    color: #082D7F;
    font-family: sans-serif;
    font-size: 42px;
    margin: 0;
}

h2 {
    color: #082D7F;
    font-family: sans-serif;
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-family: sans-serif;
    font-size: 26px;
}

p {
    color: #082D7F;
}

hr {
    height: 2px;
    border-width: 0;
    background-color: #082D7F;
}

ul {
    display: inline;
}

li {
    display: inline;
    font-family: sans-serif;
    padding-right: 15px;
    font-size: 22px;
}

.logo-div {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column: 2;
    grid-row: 1;
    width: max-content;
    height: max-content;
    column-gap: 2em;
    text-decoration: none;
    align-items: center;
    padding-top: 1em;
}

.tilbake-knapp {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: 200px;
    height: 75px;
    filter: drop-shadow(-5px 10px 4px rgba(0, 0, 0, 0.25));
    background-color: #082D7F;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 40px;
    margin-top: 1em;
    margin-right: 2em;
    text-decoration: none;
}

.sun {
    grid-column: 2;
    grid-row: 1;
    width: 15em;
    height: 15em;
    justify-self: end;
}

.ladepunkt-navn {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    width: 350px;
    height: 70px;
    text-align: center;
    padding-bottom: 5em;
}

.lokasjon-og-beskrivelse {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 30px;
}

.lokasjon {
    display: grid;
    grid-template-rows: auto auto auto;
    width: max-content;
    height: max-content;
    background: #7BC7DF;
    border-radius: 20px;
    filter: drop-shadow(-5px 10px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    justify-content: center;
}

.map {
    display: grid;
    justify-self: center;
    align-self: end;
    padding: 30px;
}

#geo-lokasjon-text {
    color: #082D7F;
    margin: 0;
    align-self: end;
}

.geo-lokasjon {
    display: grid;
    width: 430px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 20px;
    justify-self: center;
    vertical-align: middle;
    line-height: 70px;
    margin-bottom: 30px;
}

.beskrivelse-av-ladepunkt {
    width: 550px;
    height: 560px;
}

.fasiliteter {
    display: grid;
}

.fasilitet {
    display: list-item;
    list-style: circle;
    line-height: 30px;
}

.beregn-ladetid {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    width: max-content;
    height: 95px;
    filter: drop-shadow(-5px 10px 4px rgba(0, 0, 0, 0.25));
    background: #082D7F;
    border-radius: 40px;
}

.ladetid-knapp-text {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 26px;
    justify-self: center;
    align-self: center;
    padding: 0px 20px 0px 20px;
}

.dropdown {
    display: grid;
    width: 315px;
    height: 60px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    justify-self: start;
    align-self: center;
    margin-left: 17.5px;
}

.dropdown:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #082D7F;
    position: absolute;
    top: 50%;
    right: 250px;
    content: "";
}

.dropdown select {
    width: inherit;
    height: inherit;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 22px;
    align-self: center;
    text-align: center;
    background-color: #ffffff;
    appearance: none;
    cursor: pointer;
}

#bergen-ladetid-knapp {
    border: none;
    border-radius: 40px;
    background-color: #082D7F;
    cursor: pointer;
    outline: none;
}

.graf-og-tabell {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
    display: none;
    padding-top: 30px;
}

.waves {
    grid-row: 5;
    grid-column: 1 / span 3;
    max-width: 100%;
    margin: 0;
}